.arrow, .arrow-outline {
	position: absolute;

    top: 100%;
    left: 50%;
}

.arrow:after, .arrow:before, .arrow-outline:before {
    transform: translate(0, -1px);

	top: 100%;
	left: 50%;

	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

/* background */
.arrow:after {
    z-index: 100;

	border-color: rgba(136, 183, 213, 0);
	border-top-color: #2C2B2A;
	border-width: 4px;
	margin-left: -4px;
}

/* first border */
.arrow:before {
	border-color: rgba(194, 225, 245, 0);
	border-top-color: #3C3C3C;
	border-width: 6px;
	margin-left: -6px;
}

/* second border */
.arrow-outline:before {
    z-index: -100;

	border-color: rgba(194, 225, 245, 0);
	border-top-color: #000000;
	border-width: 7px;
	margin-left: -7px;
}
