.item {
    position: relative;

    cursor: pointer;
}

.item::before {
    content: '';

    position: absolute;

    width: 100%;
    height: 100%;

    border-radius: 100%;
    border: 3px solid transparent;
    
    box-sizing: border-box;

    z-index: -1;
}

.item:hover::before {
    background-color: rgba(0, 0, 0, .1);
}

.item.active::before {
    background-color: #B1B1B1;
    border-color: #CBCBCB;
}
