.room-furniture-profile-button {
    background: rgba(61, 61, 61, .95);
    font-size: 12px;
    color: #FFFFFF;
    border-radius: 4;
    border: 1px solid #FFFFFF;
    cursor: pointer;
    pointer-events: auto;

    padding: 7px;
}

.room-furniture-profile-button:hover {
    border-width: 2px;
    padding: 6px;
}

.room-furniture-profile-button:active {
    background: #FFFFFF;
}