.toolbar-item {
    display: flex;
    flex-direction: row;
    justify-content: center;

    min-width: 34px;

    cursor: pointer;
}

.toolbar-item:hover {
    transform: translate(-1px, -1px);
}

.toolbar-item:active {
    transform: translate(1px, 1px);

    opacity: .7;
}
